body{
    background-color:orchid;
    }
   h2{
    align:center;
    color:purple;
    font-family: helvetica;
    }
    h3{
    align:center;
    color:blue;
    font-family: helvetica;
    }